backend/env
backend/.env
frontend1/node_modules
frontend1/.gitignore
# production
frontend1/build

# misc
.DS_Store
frontend1/.env.local
frontend1/.env.development.local
frontend1/.env.test.local
frontend1/.env.production.local

frontend1/npm-debug.log*
frontend1/yarn-debug.log*
frontend1/yarn-error.log*
